@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #202124;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-google-sans);
}

@theme {
  --color-surface-bg: #f2f2f2;
  --color-surface-fg: #1f1f1f;
  --color-surface-bg-dark: #171717;
  --color-surface-fg-dark: #e8e8e8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1f1f1f;
    --foreground: #e8eaed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Google Sans", Arial, sans-serif;
}
